body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
table.custom-table#pvp_rank {
  min-width: 772px;
}
table.custom-table  .table.pvp tr.tb-header th, table  .table.pvp tr.tb-header th {
  background-color:#212b31;
  color:#c1cfd8;
  /* text-align: center; */
  /* padding: 0.5rem; */
}
table.custom-table tr th:nth-child(n), table tr td:nth-child(n) {
  background-color:#1b1b1e;
  color:#fff;
  /* text-align: center; */
}
/* table.custom-table  .table.pvp td img, table  .table.pvp td img {
  width: 100px;
} */
/* table.custom-table.basic-styling tr.tb-header th, .custom-table.basic-styling tr.tb-header th {
  background-color:hsl(15, 20%, 16%);
  color:#c1cfd8;
  text-align: center;
  border: 2px solid #FF0;
  padding: 0.5rem;
}
table.custom-table.basic-styling tr th:nth-child(n) {
  background-color:blue;
  color:#fff;
}
table.custom-table.basic-styling tr td:nth-child(n) {
  background-color: #212b31;
}
.custom-table.basic-styling td img, .custom-table.basic-styling td img {
  width: 100px;
} */
