<ul>
    {{$dir := .Get "dir"}}
    {{ $url := .Get "baseurl" }}
    
    {{ $files := readDir $dir }}
        {{ range $files }}
    <li>
        <a href="{{$url}}{{.Name | urlize }}"> {{.Name}}</a>
    </li>
    {{ end }}
</ul>